version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: wealthpay-postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wealthpay
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U wealthpay -d wealthpay"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pg_data: